.aboutPage {
  display: none;
  justify-content: center;
  animation: smoothLoad 0.5s;
}

h1 {
  padding: 1.6rem;
  border-radius: 1rem;
}

.aboutHeaders {
  border-bottom: 2px solid #aeb8c4;
  padding-bottom: 1rem;
  margin: 2rem 10rem 2rem 10rem;
}

h2 {
  border-bottom: 2px solid #aeb8c4;
  margin: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.aboutPage ul li,
.aboutPara {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #545e6a;
  padding: 1rem;
}

.aboutIcons {
  width: 10rem;
}

.centerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
