/* animations :D */

@keyframes loadUp {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes smoothLoad {
  from {
    opacity: 0;
    transform: rotateY(-15deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  20% {
    transform: translateX(-4px) rotate(-4deg);
  }

  40% {
    transform: translateX(-2px) rotate(-2deg);
  }

  60% {
    transform: translateX(4px) rotate(4deg);
  }

  80% {
    transform: translateX(2px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
