/* responsiveness */

@media screen and (min-width: 1524px) {
  .flexMain {
    margin: 9% 38% 0% 38%;
  }
  .sessionBtns {
    margin: 0% 38% 3% 38%;
    padding: 2rem;
  }

  .squareBox {
    padding: 2.6rem;
  }

  .pause,
  .start,
  .reset {
    width: 2.6rem;
    height: 2.6rem;
    padding: 0.7rem;
  }

  .settingsPage {
    margin: 2% 26% 2% 26%;
  }
}

@media screen and (min-width: 900px) and (max-width: 5000px) {
  .aboutPage {
    padding: 2rem 15rem 2rem 15rem;
  }
}

@media screen and (max-width: 1199) {
  .flexMain {
    margin: 2% 29% 0% 29%;
  }

  .sessionBtns {
    margin: 0% 29% 0% 29%;
    padding: 2.5%;
    padding-left: 3%;
  }

  .modesDiv {
    margin: 6% 29% 0% 29%;
  }

  .settingsPage {
    margin: 0rem 0rem 2rem 0rem;
  }

  .timerSoundsDiv {
    grid-template-columns: 1fr;
    margin: 0rem;
  }

  .sound_Settings {
    grid-template-columns: 1fr;
  }

  .settingsPage {
    margin: 2% 3% 2% 3%;
  }

  .navBarLinks {
    display: none;
    flex-direction: column;
  }

  .menuLink-toggle {
    display: flex;
  }
}

@media screen and (max-width: 790px) {
  .flexMain {
    margin: 2% 23% 0% 23%;
  }

  .sessionBtns {
    margin: 0% 23% 0% 23%;
    padding: 2.8%;
    padding-left: 4.5%;
  }

  .pause,
  .resume,
  .start {
    animation: none;
  }

  .menuLink-toggle {
    display: flex;
  }

  .navBarLinks {
    margin-top: 5rem;
    display: none;
    flex-direction: column;
  }

 

  .modesDiv {
    margin: 4% 8% 0% 8%;
  }

  .settingsPage {
    margin: 4rem;
  }

  .aboutPage {
    padding: 3rem;
  }

  .score {
    margin: 0rem;
  }

  h2,
  .aboutHeaders {
    margin: 2rem 0rem 2rem 0rem;
  }

  .settingsPage {
    margin: 2% 0% 0% 0%;
  }
}

@media all and (max-width: 554px) {
  .flexMain {
    margin: 2% 6% 0% 6%;
  }

  .sessionBtns {
    margin: 0% 6% 0% 6%;
    padding: 2.8%;
    padding-left: 3.5%;
  }

  .squareBox {
    animation: none;
  }

  .menuLink-toggle {
    display: flex;
  }

  .navBarLinks {
    display: none;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: 15rem;
    text-align: center;
    grid-template-rows: 33% 33% 33%;
    padding: 10 rem;
  }

  .modesDiv {
    margin: 3% 2% 0% 2%;
  }

  .aboutPage {
    padding: 2rem;
  }

  .score {
    margin: 0rem;
  }

  h2,
  .aboutHeaders {
    margin: 2rem 0rem 2rem 0rem;
  }

  .settingsPage {
    margin: 2% 0% 0% 0%;
  }

  .sound_Settings {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .flexMain {
    margin: 2% 1% 0% 1%;
  }
  .sessionBtns {
    margin: 0% 1% 1% 1%;
    padding: 2.8%;
    padding-left: 6.5%;
  }

  .squareBox {
    animation: none;
  }
  
  .pause,
  .resume,
  .start {
    animation: none;
  }

  .navBarLinks {
    display: none;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: 5rem;
    text-align: center;
    grid-template-rows: 33% 33% 33%;
    padding: 10 rem;
  }

  .navBar {
    margin: 2rem;
    justify-content: space-between;
  }

  .modesDiv {
    margin: 2% 0% 0% 0%;
  }

  .aboutPage {
    padding: 1rem;
  }

  .settingsPage {
    display: none;
    margin: 1rem;
    border-radius: 1rem;
    padding: 3rem;
  }

  h2,
  .aboutHeaders {
    margin: 2rem 0rem 2rem 0rem;
  }

  .settingsPage {
    margin: 2% 0% 0% 0%;
  }

  .sound_Settings {
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 360px) {
  .flexMain {
    margin: 2% 0% 0% 0%;
  }

  .sessionBtns {
    margin: 0% 0% 0% 0%;
    padding: 2.8%;
    padding-left: 6.5%;
  }

  .squareBox {
    animation: none;
  }

  .pause,
  .resume,
  .start {
    animation: none;
  }

  .navBarLinks {
    display: none;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: 5rem;
    text-align: center;
    grid-template-rows: 33% 33% 33%;
    padding: 10 rem;
  }

  .navBar {
    margin-bottom: 2rem;
    justify-content: space-between;
  }

  .modesDiv {
    margin: 0%;
  }

  .settingsPage {
    margin: 0rem;
  }

  .aboutPage {
    padding: 0.5rem;
  }

  .score {
    margin: 0rem;
  }

  h2,
  .aboutHeaders {
    margin: 2rem 0rem 2rem 0rem;
  }

  .settingsPage {
    margin: 2% 0% 0% 0%;
  }

  .sound_Settings {
    grid-template-columns: 1fr;
  }
} 
