/* responsiveness */

@media only screen and (device-width: 1920px) and (device-height: 1080px) {
  h1 {
    margin-bottom: 10%;
  }
  .flexMain {
    margin: 3% 37% 0% 37%;
  }
  .sessionBtns {
    margin: 0% 37% 3% 37%;
  }
  .pomoBox {
    font-size: 4.5em;
    height: 350px;
    width: 350px;
    color: #f6ecf0;
    font-family: "Quicksand", sans-serif;
  }
  .squareBox {
    height: 360px;
    padding: 5%;
    padding-top: 6%;
  }
}

@media screen and (min-width: 900px) and (max-width: 5000px) {
  .aboutPage {
    padding: 2rem 15rem 2rem 15rem;
  }
}

@media screen and (max-width: 1024px) {
  .flexMain {
    margin: 2% 29% 0% 29%;
  }
  .sessionBtns {
    margin: 0% 29% 0% 29%;
    padding: 2.5%;
    padding-left: 3%;
  }

  .modesDiv {
    margin: 6% 29% 0% 29%;
  }

  .settingsPage {
    margin: 0rem 10rem 2rem 10rem;
  }
}

@media screen and (max-width: 690px) {
  .flexMain {
    margin: 2% 18% 0% 18%;
  }
  .sessionBtns {
    margin: 0% 18% 0% 18%;
    padding: 2.8%;
    padding-left: 4.5%;
  }
  .reset {
    background-color: #a7c5eb;
    margin: 3% 22% 0% 22%;
    padding: 1.6%;
    font-size: 1.1rem;
  }
  .restart,
  .pause,
  .resume,
  .start {
    animation: none;
  }
  .menuLink-toggle {
    display: flex;
    float: right;
  }

  .navBarLinks {
    display: none;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: 5rem;
    text-align: center;
    grid-template-rows: 33% 33% 33%;
    padding: 10 rem;
  }

  .navBar {
    margin-bottom: 2rem;
  }

  .settingsPage {
    margin: 0rem;
  }
  .themes {
    grid-template-columns: 100%;
  }

  .modesDiv {
    margin: 2% 21% 0% 21%;
  }

  .settingsPage {
    margin: 2% 18% 0% 18%;
  }

  .aboutPage {
    padding: 0rem;
  }
  .score {
    margin: 1rem;
  }
}

@media screen and (max-width: 630px) {
  .flexMain {
    margin: 2% 15% 0% 15%;
  }
  .sessionBtns {
    margin: 0% 15% 0% 15%;
    padding: 2.8%;
    padding-left: 4.5%;
  }
  .reset {
    background-color: #a7c5eb;
    margin: 6% 29% 0% 29%;
    padding: 1.6%;
    font-size: 1.1rem;
  }
  .restart,
  .pause,
  .resume,
  .start {
    animation: none;
  }

  .menuLink-toggle {
    display: flex;
  }
  .navBarLinks {
    display: none;
    flex-direction: column;
  }

  .modesDiv {
    margin: 4% 8% 0% 8%;
  }

  .settingsPage {
    margin: 4rem;
  }

  .aboutPage {
    padding: 3rem;
  }
  .score {
    margin: 0rem;
  }
}

@media all and (max-width: 554px) {
  .flexMain {
    margin: 2% 6% 0% 6%;
  }
  .sessionBtns {
    margin: 0% 6% 0% 6%;
    padding: 2.8%;
    padding-left: 3.5%;
  }
  .reset {
    background-color: #a7c5eb;
    margin: 3% 19% 0% 19%;
    padding: 1.6%;
    font-size: 1.1rem;
  }
  .squareBox {
    animation: none;
  }
  .menuLink-toggle {
    display: flex;
  }
  .navBarLinks {
    display: none;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: 5rem;
    text-align: center;
    grid-template-rows: 33% 33% 33%;
    padding: 10 rem;
  }

  .navBar {
    margin: 2rem;
  }

  .modesDiv {
    margin: 3% 2% 0% 2%;
  }

  .settingsPage {
    margin: 5rem;
  }

  .aboutPage {
    padding: 2rem;
  }
  .score {
    margin: 0rem;
  }
}

@media (max-width: 480px) {
  .flexMain {
    margin: 2% 1% 0% 1%;
  }
  .sessionBtns {
    margin: 0% 1% 1% 1%;
    padding: 2.8%;
    padding-left: 6.5%;
  }
  .reset {
    background-color: #a7c5eb;
    margin: 7% 15% 0% 15%;
    padding: 1.6%;
    font-size: 1.1rem;
  }
  .squareBox {
    animation: none;
  }
  .restart,
  .pause,
  .resume,
  .start {
    animation: none;
  }
  .navBarLinks {
    display: none;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: 5rem;
    text-align: center;
    grid-template-rows: 33% 33% 33%;
    padding: 10 rem;
  }

  .navBar {
    margin: 2rem;
  }

  .modesDiv {
    margin: 2% 0% 0% 0%;
  }

  .aboutPage {
    padding: 1rem;
  }

  .settingsPage {
    display: none;
    margin: 1rem;
    border-radius: 1rem;
    padding: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .flexMain {
    margin: 2% 0% 0% 0%;
  }
  .sessionBtns {
    margin: 0% 0% 0% 0%;
    padding: 2.8%;
    padding-left: 6.5%;
  }
  .reset {
    background-color: #a7c5eb;
    margin: 10% 15% 0% 15%;
    padding: 1.6%;
    font-size: 1.1rem;
  }
  .squareBox {
    animation: none;
  }
  .restart,
  .pause,
  .resume,
  .start {
    animation: none;
  }
  .navBarLinks {
    display: none;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: 5rem;
    text-align: center;
    grid-template-rows: 33% 33% 33%;
    padding: 10 rem;
  }

  .navBar {
    margin-bottom: 2rem;
  }

  .modesDiv {
    margin: 0%;
  }

  .settingsPage {
    margin: 0rem;
  }

  .aboutPage {
    padding: 0.5rem;
  }
  .score {
    margin: 0rem;
  }
}
