.rewardsPage {
  display: none;
  padding: 1rem;
  border: 2px solid black;
  grid-template-columns: 1fr 5fr;
  width: 1fr;
  margin: 1rem 10rem 1rem 10rem;
  grid-column-gap: 1rem;
  height: 70vh;
}

.sidebar_RewardUnlockStuff {
  width: 1fr;
  display: grid;
  grid-auto-rows: 1fr;
  grid-row-gap: 1rem;
  height: 70vh;
}

/* available  Gems stuff */

.remainingGems_Div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: lavenderblush;
  grid-row-gap: 1rem;
  font-size: 1.4rem;
  border-radius: 0.6rem;
}

.available_Gems_Div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.available_Gems_Title {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 0.6rem 0.6rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gem {
  height: 1em;
  width: 1em;
  margin-left: 1.5rem;
}

.unlockRewardsDiv {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: lavenderblush;
  border-radius: 0.6rem;
  font-size: 1.4rem;
}

.unlockRewards_title {
  background-color: blue;
  border-radius: 0.6rem 0.6rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyWaifusBtn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showCollection {
  margin: 2rem;
}

.imagePreviewer {
  padding: 2rem;
  border: 2px solid black;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  grid-template-rows: masonry;

  grid-gap: 1rem;
}

.unlockRewardsDiv:hover,
.showCollection:hover {
  cursor: pointer;
}

.default_WaifuCard_Div {
  display: flex;
  width: 15vw;
  height: 15wh;
}

.default_WaifuCard {
  width: 15vw;
  height: 15wh;
  border-radius: 0.5rem;
}

.sampleWaifuCard {
  width: 10vw;
  height: auto;
  border-radius: 0.5rem;
}

/*! Firefox */
html {
  scrollbar-color: #353b45 white;
}

/*! Other Browser */
html {
  --scrollbarBG: white;
  --thumbBG:  lavenderblush ;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
