/* Settings page */
.settingsPage {
  display: none;
  border-radius: 1rem;
  padding: 2rem;
  animation: smoothLoad 0.3s;
  margin: 2% 23% 2% 23%;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

.Themes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 1rem;
}

h2 {
  text-align: center;
}

.defaultLight {
  background-color: #fafafa;
  color: #4a5460;
}

.defaultDark {
  background-color: #222831;
  color: #c0e4fe;
}

.defaultDark,
.defaultLight {
  padding: 10%;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  border-radius: 5px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.09), 0px 3px 3px rgba(0, 0, 0, 0.13);
}

.defaultDark:hover,
.defaultLight:hover {
  background-color: #a7c5eb;
  transition: 0.3s;
  cursor: pointer;
}

/* timer sounds stuff */

.timerSoundsDiv {
  padding-top: 2rem;
}

.timer_audio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.6rem;
  transition: all 0.3s;
  font-weight: bolder;
}

.timer_audio:hover {
  cursor: "pointer";
}

/* main sounds div */
.sound_Settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  background-color: #fafafa;
  margin: 4rem;
  margin-top: 2rem;
  padding: 0rem 3rem 0rem 3rem;
  border-radius: 0.6rem;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.09), 0px 3px 3px rgba(0, 0, 0, 0.13);
}

p {
  font-size: 1.2rem;
}
