h2 {
  text-align: center;
}
.dracula {
  background-color: #282a36;
  color: #bd93f9;
}

.nord {
  background-color: #2e3440;
  color: #81a1c1;
}

.gruvHard {
  background-color: #1d2021;
  color: #83a598;
}

.defaultLight {
  background-color: #fafafa;
  color: #36404c;
}

.defaultDark {
  background-color: #222831;
  color: #c0e4fe;
}

.nord,
.dracula,
.defaultDark,
.defaultLight,
.gruvHard,
.tomato {
  padding: 10%;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  border-radius: 5px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.09), 0px 3px 3px rgba(0, 0, 0, 0.13);
}

.nord:hover,
.dracula:hover,
.defaultDark:hover,
.defaultLight:hover,
.gruvHard:hover,
.tomato:hover {
  background-color: #a7c5eb;
  color: #21252a;
  transition: 0.3s;
  cursor: pointer;
}

/* timer sounds stuff */

.timerSoundsDiv {
  padding-top: 2rem;
}

.timer_audio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.6rem;
  transition: all 0.3s;
  font-weight: bolder;
}

.timer_audio:hover {
  cursor: "pointer";
}

/* main sounds div */
.sound_Settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  background-color: #fafafa;
  margin: 4rem;
  margin-top: 2rem;
  padding: 0rem 3rem 0rem 3rem;
  border-radius: 0.6rem;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.09), 0px 3px 3px rgba(0, 0, 0, 0.13);
}

p {
  font-size: 1.2rem;
}
