html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
  color: #36404c;
  font-family: "Quicksand", sans-serif;
  transition: 0.2s;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 2%;
  margin-bottom: 8%;
  text-align: center;
}

/* navbar */

.brandLogo {
  padding: 0.6rem;
  margin-left: 1rem;
  padding-left: 0rem;
  font-size: 1.4rem;
  font-weight: bolder;
  border-radius: 0.5rem;
}

.brandLogo:hover {
  cursor: pointer;
}

.ph-target-fill {
  font-size: 1.6rem;
  padding-top: 0.8rem;
}

.brand {
  display: flex;
}

.navBar {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.05rem;
  margin: 1rem 5rem 0.5rem 5rem;
  padding-bottom: 1rem;
}

.navBarLinks {
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
  animation: smoothLoad 0.4s;
}

.navbarlinks a {
  padding: 0.9rem;
  font-family: "open sans", sans-serif;
  display: inline;
}

.navBarLinks.show {
  display: flex;
}

.settingsbtn {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: #545e6a;
  color: white;
  border-radius: 0.7rem;
  margin-left: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.brandLogo::after,
.navBar a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #c0e4fe;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.brandLogo:hover::after,
.navBar a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.menuLink-toggle {
  display: none;
  padding: 1rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  flex-direction: column;
}

.menuLink-toggle:hover {
  cursor: pointer;
}

.settingtext {
  padding-left: 0.7rem;
  display: inline;
  font-family: "quicksand", sans-serif;
}

.userStatus {
  font-size: 1.6rem;
  margin-right: -0.7rem;
  animation: rotateFull 0.3s;
}

/* main div to keep stuff centered */
.flexMain {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: 0% 36% 0% 36%;
}

/* theme toggle */

.themeToggle_btn {
  bottom: 1;
  right: 1;
  position: fixed;
  margin-bottom: 5%;
  padding: 0% 6% 0% 3%;
  font-size: 2.5rem;
}

.themeToggle_btn:hover {
  cursor: pointer;
  color: #668aa4;
}

/* display time */
.squarebox {
  display: grid;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  padding-bottom: 10px;
  border: 3px solid #f6f6f6;
  animation: smoothLoad 0.3s;
}

.outerC {
  stroke: #f0f0f0;
  fill: none;
  stroke-width: 6px;
}

.innerC {
  fill: none;
  stroke: #c0e4fe;
  stroke-width: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerText {
  font-size: 4rem;
}

svg {
  fill: #4a5460;
}

/* session btns */

.sessionbtns {
  margin: 0% 36% 0% 36%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: white;
  padding: 1rem 0.4rem 1rem 0.4rem;
  border-radius: 0px 0px 10px 10px;
  border: 3px solid #f6f6f6;
  animation: smoothLoad 0.3s;
}

.pause,
.start,
.reset {
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  padding: 10%;
  border-radius: 50%;
  color: #668aa4;
  background-color: #c0e4fe;
  animation: loadUp 0.5s;
  position: relative;
}

.reset {
  background-color: #ffd9d8;
  color: #fd8a89;
}

.centerStartBtn,
.centerPauseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pause:hover,
.start:hover,
.reset:hover {
  background-color: #36404c;
  color: #f6ecf0;
  transition: 0.4s;
  cursor: pointer;
}

.start:hover:after,
.pause:hover:after,
.reset:hover:after {
  font-weight: bold;
  color: #36404c;
  content: attr(title);
  bottom: 120%;
  position: absolute;
  padding: 15%;
  z-index: 100;
  width: auto;
  background-color: #f6f5f5;
  text-align: center;
  border: 2px solid #c0e4fe;
  animation: smoothLoad 0.3s;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.06);
}

/* beta ribbon */

body:after {
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #36404c;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
  line-height: 27px;
  transform: rotate(-45deg);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.04);
}

/* timer modes */
.timerModes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  background-color: #36404c;
  padding: 1rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09), 0px 3px 2px rgba(0, 0, 0, 0.13);
  border-radius: 7px 7px 0px 0px;
  /*  border-radius: 6px; */
}

.defaultMode,
.breakMode,
.automaticMode {
  background-color: #36404c;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.2s;
  padding: 1rem;
  font-size: 1.1rem;
}

.modeSettings {
  background-color: #b1cff5;
  justify-content: center;
  padding: 2rem;
  display: flex;
}

.modesDiv {
  margin: 6% 36% 0% 36%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  display: none;
  animation: smoothLoad 0.3s;
}

.defaultMode:hover,
.breakMode:hover,
.automaticMode:hover {
  background-color: #4a5460;
  color: #f6f6f6;
  cursor: default;
}

.modeCurrentTime {
  padding: 1.6rem;
  font-size: 4rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.increaseTimeChevron {
  display: grid;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 0px 0.5rem 0.5rem 0rem;
  padding-right: 0.4rem;
}

.defaultMode {
  background-color: #4a5460;
}

.increaseTimeArrow,
.decreaseTimeArrow {
  padding: 0.5rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  transition: 0.2s;
}

.increaseTimeArrow:hover,
.decreaseTimeArrow:hover {
  background-color: #36404c;
  color: #f6f6f6;
  cursor: default;
}

.saveBtnFLex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #36404c;
  color: #f6f6f6;
}

.saveBtnFLex:hover {
  cursor: default;
  background-color: #4a5460;
  transition: 0.3s;
}

.current_Mode {
  padding: 1rem;
  background-color: #caf7e3;
  color: #527f6b;
  margin: 0% 12% 0% 12%;
  text-align: center;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
