body {
  background-color: #f6ecf0;
  color: #36404c;
  font-family: "Quicksand", sans-serif;
  transition: 0.1s;
}

h1 {
  text-align: center;
  padding-top: 2%;
}

/* main div to keep stuff centered */
.flexMain {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: 2% 36% 0% 36%;
}

/* display time */
.pomoBox {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.09), 0px 3px 2px rgba(0, 0, 0, 0.13);
  display: grid;
  place-content: center;
  background-color: #36404c;
  font-size: 3.4em;
  place-self: center;
  text-align: center;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  color: #f6ecf0;
  font-family: "Quicksand", sans-serif;
}

.squareBox {
  display: flex;
  justify-content: center;
  height: 260px;
  border-radius: 10px 10px 0px 0px;
  background-color: #a7c5eb;
  padding: 5%;
  padding-top: 6%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.13);
 /* animation: smoothLoad 0.4s; */
}

.fa-adjust {
  float: right;
  padding: 0% 2% 0% 3%;
}

/* session btns */

.sessionBtns {
  margin: 0% 36% 0% 36%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #f6f5f5;
  padding: 1.5%;
  padding-left: 3%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.13);
}

.restart,
.pause,
.resume,
.start {
  display: grid;
  place-content: center;
  width: 1.9rem;
  height: 1.9rem;
  padding: 12%;
  border-radius: 50%;
  background-color: #a7c5eb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.13);
  animation: loadUp 0.5s;
  position: relative;
}

.restart:hover,
.pause:hover,
.start:hover,
.resume:hover,
.reset:hover {
  background-color: #36404c;
  color: #f6ecf0;
  transition: 0.4s;
}

.reset {
  background-color: #a7c5eb;
  margin: 3% 42% 0% 42%;
  padding: 0.6%;
  color: #36404c;
  font-size: 1.1rem;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.13);
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid #41444b;
}

.start:hover:after,
.restart:hover:after,
.pause:hover:after,
.resume:hover:after {
  font-weight: bold;
  color: #36404c;
  content: attr(title);
  bottom: 120%;
  position: absolute;
  padding: 15%;
  z-index: 100;
  width: auto;
  background-color: #f6f5f5;
  text-align: center;
  border: 2px solid #a7c5eb;
  animation: smoothLoad 0.3s;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.06);
}

/* beta ribbon */

body:after {
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #36404c;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
  line-height: 27px;
  transform: rotate(-45deg);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.04);
}

.score {
  padding: 2%;
}
