body {
  background-color: #fafafa;
  color: #36404c;
  font-family: "Quicksand", sans-serif;
  transition: 0.2s;
  padding: 0px;
  margin: 0px;
}

h1 {
  margin-top: 2%;
  margin-bottom: 8%;
  text-align: center;
}

/* navbar */

.brandLogo {
  padding: 0.5rem;
  margin-left: 4rem;
  font-size: 1.2rem;
  font-weight: bolder;
}
.navBar {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1rem;
  margin: 1rem 2rem 2.4rem 2rem;
}

.navBarLinks {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarlinks a {
  padding: 0.9rem;
  font-family: "open sans", sans-serif;
  display: inline;
}

.navBarLinks a:hover,
.brandLogo:hover {
  text-decoration: underline;
  transition: 0.5s;
}

.settingsbtn {
  background-color: #36404c;
  border-radius: 35px;
  color: #fafafa;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09), 0px 3px 2px rgba(0, 0, 0, 0.13);
}

.menuLink-toggle {
  display: none;
  padding: 1rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  flex-direction: column;
}

.settingtext {
  padding-left: 0.7rem;
  display: inline;
  font-family: "quicksand", sans-serif;
}
/* main div to keep stuff centered */
.flexmain {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: 0% 36% 0% 36%;
}

/* theme toggle */

.fa-adjust {
  bottom: 1;
  right: 1;
  position: fixed;
  margin-bottom: 5%;
  padding: 0% 2% 0% 3%;
}

/* display time */
.squarebox {
  display: grid;
  justify-content: center;
  height: 280px;
  border-radius: 10px 10px 0px 0px;
  background-color: #a7c5eb;
  padding: 5%;
  padding-top: 6%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.13);
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  /* animation: smoothload 0.4s; */
}

.pomobox {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.09), 0px 3px 2px rgba(0, 0, 0, 0.13);
  display: grid;
  place-content: center;
  background-color: #36404c;
  font-size: 3.4em;
  place-self: center;
  text-align: center;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  color: #f6ecf0;
  font-family: "quicksand", sans-serif;
}

/* session btns */

.sessionbtns {
  margin: 0% 36% 0% 36%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #f6f5f5;
  padding: 1.5%;
  padding-left: 3%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.13);
}

.restart,
.pause,
.resume,
.start {
  display: grid;
  place-content: center;
  width: 1.9rem;
  height: 1.9rem;
  padding: 12%;
  border-radius: 50%;
  background-color: #a7c5eb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.13);
  animation: loadUp 0.5s;
  position: relative;
}

.restart:hover,
.pause:hover,
.start:hover,
.resume:hover,
.reset:hover {
  background-color: #36404c;
  color: #f6ecf0;
  transition: 0.4s;
}

.reset {
  background-color: #a7c5eb;
  margin: 2% 42% 0% 42%;
  padding: 0.6%;
  color: #36404c;
  font-size: 1.1rem;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.13);
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid #41444b;
}

.start:hover:after,
.restart:hover:after,
.pause:hover:after,
.resume:hover:after {
  font-weight: bold;
  color: #36404c;
  content: attr(title);
  bottom: 120%;
  position: absolute;
  padding: 15%;
  z-index: 100;
  width: auto;
  background-color: #f6f5f5;
  text-align: center;
  border: 2px solid #a7c5eb;
  animation: smoothLoad 0.3s;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.06);
}

/* beta ribbon */

body:after {
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #36404c;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
  line-height: 27px;
  transform: rotate(-45deg);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.04);
}

.score {
  font-weight: bold;
  padding: 3%;
  bottom: 1;
  left: 1;
  position: fixed;
  background-color: #ff5e78;
  margin-left: 2rem;
  border-radius: 2.5rem;
  display: none;
}

/* Settings page */
.settingsPage {
  display: none;
  margin: 0rem 20rem 2rem 20rem;
  border-radius: 1rem;
  padding: 2rem 2rem 2rem 2rem;
}

.Themes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  padding: 1rem;
  padding-bottom: 5rem;
}

/* timer modes */
.timerModes {
  display: flex;
  text-align: center;
  grid-gap: 1 rem;
  background-color: #fafafa;
  background-color: #36404c;
  padding: 0.6rem;
  border: 1px solid #36404c;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09), 0px 3px 2px rgba(0, 0, 0, 0.13);

  /*  border-radius: 6px; */
}

.defaultMode,
.breakMode,
.automaticMode {
  background-color: #36404c;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 6px;

  transition: 0.2s;
}

.modeSettings {
  background-color: #a7c5eb;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.modesDiv {
  margin: 6% 36% 0% 36%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09), 0px 3px 2px rgba(0, 0, 0, 0.13);
  display: none;
}

.defaultMode:hover,
.breakMode:hover,
.automaticMode:hover {
  background-color: #4a5460;
  color: #fafafa;
}

.modeCurrentTime {
  padding: 1rem;
  font-size: 3rem;
  background-color: #fafafa;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.increaseTimeChevron {
  display: grid;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 0px 0.5rem 0.5rem 0rem;
  padding-right: 0.4rem;
}

/* modes */

.defaultMode {
  background-color: #4a5460;
}

.increaseTimeArrow,
.decreaseTimeArrow {
  padding: 0.5rem;
  background-color: #fafafa;
  border-radius: 0.5rem;
    transition: 0.2s;

}

.increaseTimeArrow:hover,
.decreaseTimeArrow:hover {
  background-color: #36404c;
  color: #fafafa;
}
