.auth_Div {
  display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 6% 35% 0% 35%;
  font-size: 1.6rem;
  padding: 1rem;
  padding-top: 0rem;
  background-color: #caeeff;
  border-radius: 0.6rem;
  animation: smoothLoad 0.5s;
}

.authDiv_Header {
  text-align: center;
  font-weight: bolder;
  margin: 1.7rem;
}

#userEmail,
#userPassword {
  border: none;
  outline: none;
  padding: 2rem;
  width: 100%;
  background-color: white;
  font-size: 0.9rem;
}

#userEmail {
  border-radius: 0 0.4rem 0 0;
}

#userPassword {
  border-radius: 0 0 0.4rem 0;
}

.email_InputDiv,
.pass_InputDiv {
  display: flex;
}

.ph-key,
.ph-at {
  background-color: white;
  display: grid;
  text-align: center;
  align-content: center;
  align-items: center;
  padding-left: 1rem;
}

.ph-at {
  border-radius: 0.5rem 0 0 0;
}

.ph-key {
  border-radius: 0 0 0 0.4rem;
}

.login_logout_btns {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  margin-top: 0.5rem;
}

#signUpBtn,
#signInBtn,
#signOutBtn {
  border: none;
  outline: none;
  padding: 1rem;
  margin: 0.6rem;
  background-color: white;
  border-radius: 0.6rem;
  display: flex;
  animation: smoothLoad 0.5s;
  margin-top: 2rem;
}

#signUpBtn:hover,
#signInBtn:hover,
#signOutBtn:hover {
  cursor: pointer;
}

#signOutBtn {
  color: white;
  background-color: #545e6a;
}

.userAvatar_Div {
  display: none;
  width: 10rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  animation: smoothLoad 0.5s;
}

.userAvatar {
  width: 5rem;
}
