.todosPage {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: var(--todoBg);
  height: 80vh;
  max-height: 80vh;
  margin: 0 4.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  animation: slideLeft 0.2s ease 0s 1 normal forwards;
  border: 2px solid var(--sidebarBorder);
}

.todoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.todoFooter {
  display: flex;
  justify-content: flex-end;
}

.todoFooter button {
  background: var(--red);
  padding: 0.5rem;
  width: auto;
}

.todoFooter button:hover {
  cursor: pointer;
  background-color: var(--fg);
  color: var(--bg);
}
