.todosPage {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: var(--todoBg);
  height: 80vh;
  max-height: 80vh;
  margin: 0 4.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  animation: slideLeft 0.2s ease 0s 1 normal forwards;
  border: 2px solid var(--sidebarBorder);
}

.todoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.todoFooter {
  display: flex;
  justify-content: flex-end;
}

.todoFooter button {
  padding: 0.5rem;
  width: 100%;
  border-radius:0.5rem;
}

.todoFooter button:hover {
  cursor: pointer;
  background-color: var(--fg);
  color: var(--bg);
}

/* todo input box */

.todoCreator {
  display: flex;
  flex-direction: column;
}

.todoInput {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  margin: 5rem 1rem;
  gap: 1rem;
  background-color: var(--accent);
  padding: 1rem;
  border-radius: 0.5rem;
  animation: smoothPopup 0.2s ease 0s 1 normal forwards;
}

.todoInput input,
.todoInput textarea {
  outline: none;
  border: none;
  padding: 1rem;
  background-color: var(--todoBg);
  color: var(--fg);
  border-radius: 0.5rem;
}

.todoInput textarea {
  height: 5rem;
}

.todoInput .todoPriority {
  background-color: var(--todoBg);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.todoInput button {
  background-color: var(--btnBg);
}

.todoPriority select {
  border: none;
  outline: none;
  background-color: var(--fg);
  color: var(--bg);
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.todoPriority select option {
  background-color: var(--bg);
  color: var(--fg);
  cursor: pointer;
}
