@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--fgcol);
  background-color: var(--bgcol);
  font-family: "Quicksand", sans-serif;
  transition: 0.2s;
  padding: 0;
}
