[data-theme="light"] {
  --fg: #414b57;
  --bg: #fff;
  --accent: #c0e4fe;
  --volumebg: #cbefff;
  --inactiveStroke: #414b57;
  --activeStroke: #ff8787;
  --activeBar: #414b57;
  --timerfg: #414b57;
  --bg-alt: #fff;
  --btnBg: #414b57;
  --btnFg: #fff;
  --btnBg2: #9fc3dd;
  --btnFg2: #414b57;
  --themeToggleBg: #414b57;
  --themeToggleFg: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --todolistBg: #fff;
  --todoBg: #f8f8f8;
  --red: #f27373;
  --blue: #90b4ce;
  --grey: #b6b6b6;
  --green: #85cea9;
  --sidebarSelected: #f5f5f5;
  --sidebarBorder: #9c9c9c;
  --todoInputBox: #c0e4fe;
  --todoInputBg: #fff;
  --delTodosBtnBg: #414b57;
  --delTodosBtnFg: #fff;
}

[data-theme="dark"] {
  --fg: #e1e8f5;
  --bg: #12121c;
  --bg-alt: #1a1a24;
  --accent: #1b1b25;
  --volumebg: #181822;
  --inactiveStroke: #12121c;
  --activeStroke: #7d92c9;
  --activeBar: #7d92c9;
  --timerfg: #7d92c9;
  --btnBg: #71ba95;
  --btnFg: #1a1a24;
  --btnBg2: #2b2b35;
  --btnFg2: #ef8891;
  --shadow: none;
  --themeToggleBg: #1b1b25;
  --themeToggleFg: #7d92c9;
  --todolistBg: #1e1e28;
  --todoBg: #25252f;
  --red: #ff8080;
  --blue: #7d92c9;
  --grey: #5d5d67;
  --green: #85cea9;
  --sidebarSelected: #23232d;
  --todoInputBox: #262630;
  --todoInputBg: #1f1f29;
  --delTodosBtnBg: #31313b;
  --delTodosBtnFg: #7d92c9;
}
