.todosPage {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: var(--todoBg);
  height: 80vh;
  max-height: 80vh;
  margin: 0 4.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  animation: slideLeft 0.2s ease 0s 1 normal forwards;
}

.todoheader {
  display: flex;
  justify-content: space-evenly;
}

.todoheader h2 {
  text-align: center;
}

.todoheader h2 span {
  background-color: var(--bg-alt);
  border-radius: 0.5rem;
  padding: 1rem;
}
